.contentPanelContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  font-weight: 600;

  .ContentTitleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;

    .unHideSideBarButton {
      height: 30px;
    }

    .searchContainer {
      width: 40%;
      padding-left: 5%;
      color: white;
      font-weight: 600;
    }
  }
}
