@use './mixins.module.scss';

.loadingMain {
  @include mixins.modalLayout;

  .loadingInner {
    @include mixins.modalInner;

    .loadingAnimationContainer {
      background-color: wheat;
      border-radius: 50px;
    }
  }

  div {
    cursor: auto;
  }
}
