.loadingMain {
  pointer-events: all;
  z-index: 99999;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);

  .loadingInner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  div {
    cursor: auto;
  }
}
