@use './mixins.module.scss';

.loginModal {
  @include mixins.modalLayout;

  .loginContainer {
    @include mixins.modalInner;
    width: 40%;
    height: 40%;
    background-color: #6366f1;
    border-radius: 30px;
    box-shadow: 3px 5px;

    @media screen and (max-width: 900px) {
      width: 60%;
      height: 70%;
    }

    .loginHeaderContainer {
      padding-top: 10px;
      height: 10%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .loginTitle {
        font-weight: 800;
        font-size: 30px;
      }

      .closeButton {
        position: absolute;
        right: 5%;
      }
    }

    .loginFormContainer {
      padding: 20px 10px 5px 10px;
      height: 85%;
      width: 100%;
      display: flex;
      align-items: center;

      .loginForm {
        width: 100%;

        section {
          width: 100%;
          padding-bottom: 10px;

          .inputGrid,
          .submitButtonGrid,
          .rememberMeGrid {
            display: grid;
            grid-template-columns: 25% 75%;
            align-items: center;
          }

          .inputGrid {
            span {
              justify-self: right;
              padding-right: 10px;
              font-size: 20px;
            }

            .inputItem {
              width: 90%;
              color: black;
              background-color: white;
            }
          }

          .rememberMeGrid {
            .rememberMeCheckbox {
              display: flex;

              span:focus-visible {
                box-shadow: 0 0 0 3px #404186;
              }

              label {
                font-size: 15px;
              }
            }
          }

          .submitButtonGrid {
            button {
              width: 90%;
            }

            button:focus-visible {
              box-shadow: 0 0 0 3px #404186;
            }
          }
        }
      }
    }
  }
}
