.sideBarContainer {
  background-color: #ffffff;
  display: flex;

  .sidebarInner {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logoAnimation {
        width: 100px;

        div {
          cursor: auto;
        }
      }

      button {
        width: 50px;
        height: 50px;
      }
    }
  }

  .hideSideBarButton {
    height: 30px;
  }

  .dragHitbox {
    height: 100%;
    cursor: ew-resize;

    .dragHandleDivider {
      border-left: 2px solid gray;
      width: 1px;
      min-width: 1px;
      height: 100%;
    }
  }
}
